<!DOCTYPE html>
<html lang="en">
  <head>
      <title>This is test ai Rest Ful api</title>
<style>
    body {
    background-color: #dce6df;
    text-align:center;
    margin-top: 100px;

    }
h1 {
  color: #4646db;
  line-height: 2rem;
}
    p    {color: red;}

    #header {
       background: white;
       height:500px;
       width:800px;
       margin: auto;
       border: 2px solid #de5426;
       border-radius: 5px;
       text-align: center;
       line-height: 400px;
    }
.mainword{
    color: #de5426;
    text-decoration: underline;
    font-size: 1.5rem;
}


</style>
  </head>
  <body>
  <h1> Test AI Restful Endpoints</h1>
    <div id="header">
        <h2> Please follow <span class="mainword">"README.md" </span> to access all endpoints.</h2>
    </div>
  </body>
</html>